.cov
coverage
node_modules
.naeindex
coverage.html
.monitor
.svn

# Ignore Mac OS desktop services store
.DS_Store

# Ignore Windows desktop setting file
desktop.ini

*.log

.idea

*.sublime-project
*.sublime-workspace
*.swp
*.wav
*.db
*.zip
*.tar
*.gz
*.7z
*.rar

# Generated Protobuf file
*.pb.cc
*.pb.h

*.out

# binaries
*.so
*.a
*.lib
*.dll
*.dylib
*.la
*.exe
*.pdb
*.exp

*.iml
*~

rbk
build/
build64
compile/
bin/cmake
bin/thirdparty_libs
bin64/cmake
bin64/thirdparty_libs

# ignore core dump file
bin/core
bin64/core
*.dmp

# ignore config lua file
bin/plugins/*.lua
bin64/plugins/*.lua

# ignore the plugin dependency directories
bin/plugins/lib*
bin64/plugins/lib*

# ignore log
bin/log
bin64/log

# ignore include
bin/include
bin64/include
include

# ignore map file
*.map
*.smap

# ignore vscode
.vscode

# ignore lib
bin/lib
bin64/lib
lib

# stackdump file
*.stackdump

# ignore plugins
# plugins

# ignore algorithms
src/robokit/algorithm

# ignore params
bin/params/*.json
bin64/params/*.json

# ignore firmware
bin/firmware/
bin64/firmware/

# ignore rawmap
*.rawmap

# ignore taskres
*.taskres

# ignore run data
data

# ignore vld
vld.ini
memory_leak_report.txt

# Visual Studio ilk file
*.ilk

# ignore runtime files
bin/runtime
bin64/runtime

# old map file
*.old
/bin64/crashes
/bin/crashes

# ignore maps
maps/
*.smap

bin/robot.model
bin/robot.cp
bin/proto
bin64/robot.model
bin64/robot.cp
bin64/proto
